
/* CSS rules for mobile devices */
@media only screen and (max-width: 600px)
{
    .container{
    
    
    align-items: center;
    justify-content: center;
    position:relative;
    
}
    
}

/* Regular rules*/

body{
    margin:0px;
    padding:0;
    background-image:url(pics/jon-moore-5fIoyoKlz7A-unsplash.jpg);
    background-repeat:repeat;
}



.topnav {
    position:sticky;
    overflow:hidden;
    background-color: black;
}

.topnav a{
    float:left;
    text-align:center;
    padding: 14px 16px;
    text-decoration: white;
}

.topnav a:hover{
    font-size: 1.1em;
    background-color:grey;
}


button{
    position:relative;

}

button:hover{
    position:relative;
    font-size: 1.1em;

}

.paint{
    
    background-image:url('pics/cover1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:fixed;
    display:inline-block;
}

.img1{
    height:75%;
    width:100%;
}

/* Slideshow container */
.slideshow-container {
    height:50%;
    width: 50%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    
    
    
}

.swiper{
    width:80%;
    height:fit-content;
  }

.swiper-slide img{
    width:100%;
  }

.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color:#fff;

}

.swiper .swiper-pagination-bullet-active{
  background:#fff;
}
.ccontainer{
    
    margin:50px auto;
    max-width:75%;
    padding: 8px;
    
}

ul{
    list-style-type: square;
}


.prod{
    width:200px;
    height:200px;
}
.box{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}